* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #121212;
  color: #fff;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem;
}

header {
  background: #292929;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.covid-container {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.covid-container h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.weather-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.weather-container h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.github-container {
  width: 15%;
  background-color: #292929;
  border: #616161 solid 0.2rem;
  height: 71vh;
}

.json-user-container {
  border-top: #616161 solid 0.2rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: .2rem;
}

.json-user-container:first-child {
  border-top: none;
}

.github-center {
  width: 60%;
  background: #292929;
  margin-left: 2rem;
  height: 78vh;
}

.right-side {
  background-color: #292929;
  margin-left: 2rem;
  width: 20%;
  height: 78vh;
}

.right-side-wrapper {
  margin: .5rem;
}

#gh-search {
  width: 70%;
  padding: .5rem;
  text-align: center;
}

#gh-submit {
  width: 28%;
  border: none;
  background-color: #BB86FC;
  margin-top: .2rem;
  border-radius: .1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  cursor: pointer;
}

.gh-users-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: .7rem;
  border: #616161 0.1rem solid;
  border-radius: .1rem;
  cursor: pointer;
}

.gh-user--img {
  width: 3rem;
  margin-right: .5rem;
}

.gh-user-info {
  margin: 1rem;
}

.gh-user-info img {
  width: 6rem;
}

.gh-user-repos-follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.repos {
  margin: 1rem;
  width: 45%;
}

.repos h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.repos ul {
  overflow-y: scroll;
  height: 50vh;
}

.repos a {
  color: #fff;
  -webkit-text-decoration: #616161;
          text-decoration: #616161;
}

.follows {
  margin: 1rem;
  width: 45%;
}

.follows h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.follows ul {
  overflow-y: scroll;
  height: 50vh;
}

.follows a {
  color: #fff;
  -webkit-text-decoration: #616161;
          text-decoration: #616161;
}
/*# sourceMappingURL=main.css.map */